.Weather {
  font-family: "Indie Flower", cursive;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  max-width: 600px;
  background: #fafbfd;
}

.Weather .submit-button {
  background: palevioletred;
  border: 2px solid black;
  border-radius: 4px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
.Weather .current-button {
  background: rgb(31, 212, 212);
  border: 2px solid black;
  border-radius: 4px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}

.Weather .overview {
  margin-bottom: 20px;
}
.Weather .description-list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.Weather li {
  list-style: none;
}
.Weather canvas{
  padding-right: 10px;
  opacity: 0.78;
}

.Weather .weather-temperature strong {
  color: black;
  opacity: 0.78;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  margin-left: 5px;
  padding-right: 2px;
}

.Weather .temperature-wrap {
  background: rgb(250, 165, 193);
  border-radius: 4px;
  padding: 4px;
  margin: 1px;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .humidity-wind{
  float: right;
   }


 @media (max-width: 770px) {
  .Weather .submit-button, .Weather .current-button{
    margin-left: 0;
  }
  .Weather .submit-button {
margin-right: 10px;
margin-bottom: 5px;
  }
  .Weather .form-control {
    margin-bottom: 10px;
  }

  
 }